Source: electrum-nmc
Section: utils
Priority: optional
Maintainer: Lola Rigaut-Luczak <me@lola.ninja>
Build-Depends:
  debhelper (>= 11),
  devscripts,
  dh-python,
  pyqt5-dev-tools,
  python3,
  python3-dnspython,
  python3-ecdsa,
  python3-jsonrpclib-pelix,
  python3-pbkdf2,
  python3-protobuf,
  python3-pyaes,
  python3-pycryptodome,
  python3-pyqt5,
  python3-qrcode,
  python3-requests,
  python3-setuptools,
  python3-socks,
Standards-Version: 4.2.1
Homepage: https://www.namecoin.org/docs/electrum-nmc/

Package: python3-electrum-nmc
Architecture: all
Section: python
Depends: ${shlibs:Depends}, ${python3:Depends}
Description: Easy to use Namecoin client - Python module
 This package provides a lightweight Namecoin client which protects
 you from losing your namecoins or names in a backup mistake or computer
 failure. Also, Electrum-NMC does not require waiting time because it does
 not download the Namecoin blockchain.
 .
 This package provides the "electrum-nmc" Python module which can be used to access
 a Namecoin wallet from Python programs.

Package: electrum-nmc
Architecture: all
Depends:
 python3-electrum-nmc (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends},
Recommends: python3-pyqt5
Suggests: python3-btchip, python3-trezor, python3-zbar
Description: Easy to use Namecoin client
 This package provides a lightweight Namecoin client which protects
 you from losing your namecoins or names in a backup mistake or computer
 failure. Also, Electrum-NMC does not require waiting time because it does
 not download the Namecoin blockchain.
 .
 Features of Electrum-NMC:
 .
   * Instant on: Your client does not download the blockchain. It uses a
     network of specialized servers that index the blockchain.
   * Forgiving: Your wallet can be recovered from a secret seed.
   * Safe: Your seed and private keys are encrypted on your hard drive.
     They are never sent to the servers.
   * Low trust: Information received from the servers is verified using
     SPV. Servers are authenticated using SSL.
   * No downtimes: Your client is not tied to a particular server; it
     will switch instantly if your server is down.
   * Ubiquitous: You can use the same wallet on different computers, they
     will synchronize automatically.
   * Cold Storage: Sign transactions from a computer that is always
     offline. Broadcast them using a machine that does not have your keys.
   * Reachable: You can export your private keys into other Namecoin
     clients.
   * Established: Electrum is open source and was first released in
     November 2011.
